numpy==1.19.5
torch==1.11.0
# torch --extra-index-url https://download.pytorch.org/whl/cpu
# torchvision --extra-index-url https://download.pytorch.org/whl/cpu
# torchaudio --extra-index-url https://download.pytorch.org/whl/cpu